@require './settings/*'
@require '../../../../node_modules/vuetify/src/stylus/generic/*'
@require '../../../../node_modules/vuetify/src/stylus/elements/*'
@require '../../../../node_modules/vuetify/src/stylus/tools/*'
@require '../../../../node_modules/vuetify/src/stylus/trumps/*'
@require '../../../../node_modules/vuetify/src/stylus/components/_range-sliders.styl'

.page
  @extend .fade-transition
