$purple: #93117e;
$green: #96c03a;
$green-dark: #7d8f57;
$green-medium: #9c3;
$green-light: #99cc330d;
$yellow: #fadd16;
$orange: #eb690b;
$white: #fff;
$white-purple: #ffd8f2;
$purple-light: #d212b8;
$purple-hover: #992f87;
$black: #232323;
$grey-dark: #57585a;
$grey-medium: #bbb;
$grey-light: #ebebeb;
$grey-light-2: #f6f6f6;
$grey-light-3: #dbdbdb;
$grey-light-4: #d2d4d6;
$red: #d33;
$lilac: #e6e0f9;
$blue: #0b8aeb;
$blue-light:#f6fbff;
